body {
  background-color: lightblue;
}

#app{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  #progress{
    width: 100%;
    text-align: center;
    border: 1px solid;
    background-color: lightgoldenrodyellow
  }
  #eat{
    background-color: lightcoral;
    height: 400px;
    width: 50%;
    text-align: center;
  }
  #play{
    background-color: lightgreen;
    height: 400px;
    width: 50%;
    text-align: center;
  }
  #fight{
    background-color: lightseagreen;
    height: 400px;
    width: 50%;
    text-align: center;
  }
  #sleep{
    background-color: lightgrey;
    height: 400px;
    width: 50%;
    text-align: center;
  }
  .buttons{
    margin: 5px;
  }
}